<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log Access</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Enter Log Password</h2>
    <form class="password-form" action="{{ url_for('log_password') }}" method="POST">
      <input type="password" class="password-input" name="password" placeholder="Enter Password" required>
      <button type="submit" class="submit-button">Submit</button>
    </form>
  </div>
</body>
</html>
